In [1]:
dir ='/root/JupyterNotebook/kaggle-Redefining-Cancer-Treatment'

In [2]:
import numpy as np 
import pandas as pd

In [3]:
stage1_test = pd.read_csv('../input/test_variants')
stage1_solution = pd.read_csv('../input/stage1_solution_filtered.csv')
stage1_merge = stage1_solution.merge(stage1_test, how = 'left', on = 'ID')

In [5]:
stage1_merge['Class'] = stage1_merge.apply(lambda x:int(x['class1']*1+x['class2']*2+x['class3']*3+x['class4']*4+x['class5']*5\
                        +x['class6']*6+x['class7']*7+x['class8']*8+x['class9']*9), axis=1)

In [9]:
stage1_merge.drop(stage1_merge.columns[[1,2,3,4,5,6,7,8,9]], axis=1,inplace=True)

In [10]:
stage1_merge.head()

   ID   Gene Variation  Class
0  12   TET2    Y1902A      1
1  19   MTOR    D2512H      2
2  21    KIT      D52N      2
3  55   SPOP     F125V      4
4  64  KEAP1      C23Y      4

In [11]:
test_txt = pd.read_csv(dir+'/input/test_text', sep="\|\|", \
                        engine='python', header=None, skiprows=1, names=["ID","Text"])

In [12]:
stage1_merge = stage1_merge.merge(test_txt, how = 'left', on = 'ID')

In [13]:
stage1_merge.head()

,ID,Gene,Variation,Class,Text
0,12,TET2,Y1902A,1,TET proteins oxidize 5-methylcytosine (5mC) on...
1,19,MTOR,D2512H,2,Genes encoding components of the PI3K-Akt-mTOR...
2,21,KIT,D52N,2,Myeloproliferative disorders (MPD) constitute ...
3,55,SPOP,F125V,4,"In the largest E3 ligase subfamily, Cul3 binds..."
4,64,KEAP1,C23Y,4,Keap1 is the substrate recognition module of a...

In [14]:
stage1_merge['ID'] += 10000

In [24]:
stage1_merge.tail()

,ID,Gene,Variation,Class,Text
363,15600,MAP2K4,S251N,4,The systematic characterization of somatic mut...
364,15609,VHL,N90I,4,The von Hippel-Lindau tumor suppressor protein...
365,15626,MAP2K1,H119P,6,Genetic alterations that activate the mitogen-...
366,15628,ATM,V2424G,4,Abstract The functional consequences of misse...
367,15650,TP53,G245C,1,The transcription factor and tumor suppressor ...

In [16]:
train_txt = pd.read_csv(dir+'/input/training_text', sep="\|\|", \
                        engine='python', header=None, skiprows=1, names=["ID","Text"])

In [18]:
train_txt.tail()

        ID                                               Text
3316  3316  Introduction  Myelodysplastic syndromes (MDS) ...
3317  3317  Introduction  Myelodysplastic syndromes (MDS) ...
3318  3318  The Runt-related transcription factor 1 gene (...
3319  3319  The RUNX1/AML1 gene is the most frequent targe...
3320  3320  The most frequent mutations associated with le...

In [17]:
train_genevar = pd.read_csv(dir+'/input/training_variants')

In [19]:
train_genevar.tail()

        ID   Gene Variation  Class
3316  3316  RUNX1     D171N      4
3317  3317  RUNX1     A122*      1
3318  3318  RUNX1   Fusions      1
3319  3319  RUNX1      R80C      4
3320  3320  RUNX1      K83E      4

In [20]:
add_train_txt = pd.DataFrame(stage1_merge, columns=['ID', 'Text'])
add_train_genevar = pd.DataFrame(stage1_merge, columns=['ID', 'Gene','Variation','Class'])

In [ ]:
train_txt_joint = pd.concat([train_txt,add_train_txt], ignore_index=True)

In [23]:
train_txt_joint.tail()

         ID                                               Text
3684  15600  The systematic characterization of somatic mut...
3685  15609  The von Hippel-Lindau tumor suppressor protein...
3686  15626  Genetic alterations that activate the mitogen-...
3687  15628   Abstract The functional consequences of misse...
3688  15650  The transcription factor and tumor suppressor ...

In [25]:
train_genevar_joint = pd.concat([train_genevar,add_train_genevar], ignore_index=True)

In [26]:
train_genevar_joint.tail()

         ID    Gene Variation  Class
3684  15600  MAP2K4     S251N      4
3685  15609     VHL      N90I      4
3686  15626  MAP2K1     H119P      6
3687  15628     ATM    V2424G      4
3688  15650    TP53     G245C      1

In [27]:
train_genevar_joint.to_csv(dir+'/4 input for stage2/training_variants' + '.csv', index=False)

In [28]:
train_txt_joint.to_csv(dir+'/4 input for stage2/training_txt' + '.csv', index=False)