In [1]:
dir ='/root/JupyterNotebook/kaggle-Redefining-Cancer-Treatment'

In [2]:
import numpy as np 
import pandas as pd

In [4]:
pre_submission = pd.read_csv('../4 input for stage2/pre_submission.csv')

In [5]:
pre_submission.head()

   ID  class1  class2  class3  class4  class5  class6  class7  class8  class9
0   1     0.0     0.0     0.0     1.0     0.0     0.0     0.0     0.0     0.0
1   2     1.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2   5     0.0     0.0     0.0     0.0     0.0     0.0     1.0     0.0     0.0
3  10     0.0     0.0     0.0     0.0     0.0     0.0     1.0     0.0     0.0
4  12     0.0     1.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

In [20]:
all_submission = pd.read_csv('../input/stage2_sample_submission.csv')

In [21]:
all_submission.head()

   ID  class1  class2  class3  class4  class5  class6  class7  class8  class9
0   1       0       0       0       0       0       0       0       0       0
1   2       0       0       0       0       0       0       0       0       0
2   3       0       0       0       0       0       0       0       0       0
3   4       0       0       0       0       0       0       0       0       0
4   5       0       0       0       0       0       0       0       0       0

In [22]:
pre_submission = pre_submission.set_index('ID')

In [24]:
all_submission = all_submission.set_index('ID')

In [26]:
other_submission = all_submission.reindex(all_submission.index.difference(pre_submission.index))

In [28]:
other_submission = other_submission.reset_index()

In [29]:
other_submission.head()

   ID  class1  class2  class3  class4  class5  class6  class7  class8  class9
0   3       0       0       0       0       0       0       0       0       0
1   4       0       0       0       0       0       0       0       0       0
2   6       0       0       0       0       0       0       0       0       0
3   7       0       0       0       0       0       0       0       0       0
4   8       0       0       0       0       0       0       0       0       0

In [8]:
stage2_test_genevar = pd.read_csv('../input/stage2_test_variants.csv')
stage2_test_txt = pd.read_csv('../input/stage2_test_text.csv', sep="\|\|", \
                        engine='python', header=None, skiprows=1, names=["ID","Text"])

In [9]:
stage2_test_genevar.head()

   ID    Gene             Variation
0   1   CHEK2                 H371Y
1   2   AXIN2  Truncating Mutations
2   3    WNT4                 E216G
3   4  SUCLA2                 G118R
4   5    BRAF             T599insTT

In [10]:
stage2_test_txt.head()

   ID                                               Text
0   1  The incidence of breast cancer is increasing i...
1   2  An unselected series of 310 colorectal carcino...
2   3  Mycosis fungoides and Sézary syndrome are prim...
3   4   Regulated progression through the cell cycle ...
4   5  Pilocytic astrocytoma (PA) is emerging as a tu...

In [30]:
df_merge = other_submission.merge(stage2_test_genevar, how = 'left', on = 'ID')

In [31]:
df_merge = df_merge.merge(stage2_test_txt, how = 'left', on = 'ID')

In [32]:
df_merge.head()

,ID,class1,class2,class3,class4,class5,class6,class7,class8,class9,Gene,Variation,Text
0,3,0,0,0,0,0,0,0,0,0,WNT4,E216G,Mycosis fungoides and Sézary syndrome are prim...
1,4,0,0,0,0,0,0,0,0,0,SUCLA2,G118R,Regulated progression through the cell cycle ...
2,6,0,0,0,0,0,0,0,0,0,CHEK2,E239K,The nuclei that laboratories solution p53 KIT ...
3,7,0,0,0,0,0,0,0,0,0,CHST3,T141M,Myeloid differentiation 88 (MyD88) is the key ...
4,8,0,0,0,0,0,0,0,0,0,RNF6,G244D,Human ESCCs 2 occur frequently worldwide (1) ....

In [33]:
test_txt = pd.DataFrame(df_merge, columns=['ID', 'Text'])
test_genevar = pd.DataFrame(df_merge, columns=['ID', 'Gene','Variation'])

In [34]:
test_txt.to_csv(dir+'/4 input for stage2/test_txt' + '.csv', index=False)
test_genevar.to_csv(dir+'/4 input for stage2/test_variants' + '.csv', index=False)

In [35]:
other_submission.to_csv(dir+'/4 input for stage2/other_submission' + '.csv', index=False)