In [1]:
import numpy as np
import pandas as pd

In [2]:
dir ='/root/JupyterNotebook/kaggle-Redefining-Cancer-Treatment'

In [3]:
s1 = pd.read_csv(dir+'/result/stage2/double_valca_lightgbm.csv')

In [4]:
s1 = s1.set_index('ID')

In [5]:
s2 = pd.read_csv(dir+'/result/stage2/double_valca_svm.csv')

In [6]:
s2 = s2.set_index('ID')

In [7]:
s3 = pd.read_csv(dir+'/result/stage2/double_valca_e0.02_depth6_delta5.csv')
s3 = s3.set_index('ID')

In [8]:
s = (s1 + s2 + s3)/3

In [9]:
s = s.reset_index()

In [10]:
s.head()

,ID,class1,class2,class3,class4,class5,class6,class7,class8,class9
0,3,0.065118,0.244959,0.011457,0.090627,0.025906,0.053655,0.496522,0.007239,0.004517
1,4,0.135106,0.173466,0.010496,0.189869,0.025409,0.050267,0.396017,0.010919,0.008450
2,6,0.260479,0.054614,0.013414,0.378797,0.131606,0.049996,0.099109,0.005751,0.006235
3,7,0.034702,0.102911,0.005003,0.021886,0.016686,0.006154,0.805419,0.005128,0.002111
4,8,0.303689,0.083832,0.015248,0.416983,0.034266,0.102636,0.030709,0.005659,0.006978

In [11]:
s.to_csv(dir+'/result/stage2/ensemble_three.csv', index=False)