In [1]:
import numpy as np
import pandas as pd

In [2]:
dir ='/root/JupyterNotebook/kaggle-Redefining-Cancer-Treatment'

In [3]:
pre_submission = pd.read_csv('../4 input for stage2/pre_submission.csv')

In [4]:
print(len(pre_submission))

367

In [5]:
cal_submission = pd.read_csv(dir+'/result/stage2/ensemble_three.csv')

In [6]:
print(len(cal_submission))

619

In [7]:
cal_submission = cal_submission.set_index('ID')
cal_submission = cal_submission.clip(0.05,0.95)
cal_submission = cal_submission.reset_index()

In [8]:
merge_submission = pd.concat((pre_submission, cal_submission), axis=0, ignore_index=True)

In [9]:
merge_submission = merge_submission.sort_values(by='ID')

In [10]:
merge_submission.head()

,ID,class1,class2,class3,class4,class5,class6,class7,class8,class9
0,1,0.000000,0.000000,0.00,1.000000,0.00,0.000000,0.000000,0.00,0.00
1,2,1.000000,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00,0.00
367,3,0.065118,0.244959,0.05,0.090627,0.05,0.053655,0.496522,0.05,0.05
368,4,0.135106,0.173466,0.05,0.189869,0.05,0.050267,0.396017,0.05,0.05
2,5,0.000000,0.000000,0.00,0.000000,0.00,0.000000,1.000000,0.00,0.00

In [11]:
merge_submission.to_csv(dir+'/result/stage2/final_average.csv', index=False)